<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add 
                name="httpPlatformHandler" 
                path="*" 
                verb="*" 
                modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <httpPlatform 
            processPath="%NODE_EXEC%"
            arguments="%CALENDAR_SERVER_CORE%">
            <environmentVariables></environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>